.index {
    composes: flexColumn from '../modules/flex.module.css';
}

.row  {
    width: 100%;
    composes: flexRow from '../modules/flex.module.css';
    composes: justifyBetween from '../modules/flex.module.css';
}

.rowOneGreen { 
    padding-top: 1rem;;
    background-color: #55b286; 
}

.logo {
    margin-left: 2rem;
}




