.view {
    width:100%;
    overflow-x: hidden;
    composes: flexRow from './flex.module.css';
    composes: noWraping from './flex.module.css';
    composes: justifyBetween from './flex.module.css';
}

.card {
    composes: flexColumn from './flex.module.css';
    composes: alignCenter from './flex.module.css';
    flex: 0 0 100%;
    padding-top: 3rem ;    
}

.arrow {
    padding: 2rem 1rem;
    max-width: 5rem;
    width: 100%;
    background: none;
    border: none;
}

.carousel {
    max-width: 50rem;
    width: 100%;
    composes: flexRow from './flex.module.css';
    composes: noWraping from './flex.module.css';
    composes: justifyBetween from './flex.module.css';
}

