/* 
    Basic flex atributes. 
*/

.flexRow { 
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.noWraping {
    flex-wrap: nowrap;
}

/*  
    Justify-content block for flex row. 
    
    Align: center
*/

.justifyStart{
    justify-content: flex-start;
    align-items: center;
}
.justifyEnd{
    justify-content: flex-end;
    align-items: center;
}
.justifyCenter{
    justify-content: center;
    align-items: center;
}
.justifyBetween{
    justify-content: space-between;
    align-items: center;
}
.justifyAround{
    justify-content: space-around;
    align-items: center;
}
.justifyEvenly{
    justify-content: space-evenly;
    align-items: center;
}

/*  
    Align-items block for flex column.
    
    justify: center. 
*/

.alignStart{
    align-items: flex-start;
    justify-content: center;
}
.alignEnd{
    align-items: flex-end;
    justify-content: center;
}
.alignCenter{
    align-items: center;
    justify-content: center;
}
.alignBetween{
    align-items: space-between;
    justify-content: center;
}
.alignAround{
    align-items: space-around;
    justify-content: center;
}
.alignEvenly{
    align-items: space-evenly;
    justify-content: center;
}