@charset 'UTF-8';

/* 1. base stuff */
@import 'base/helpers.css';

/* 4. Layout-related sections */
/* @import 'layout/header.module.css'; */
@import 'layout/main.css';
@import 'layout/footer.css';

/*

    Colors reminder.

    pich: #e76467;
    lightSalmon: #fba592;
    darkLateGrey: #414362;

*/
